@tailwind base;
@tailwind components;
@tailwind utilities;

* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
* ::-webkit-scrollbar-thumb {
  background-color: rgba(21, 20, 26, 0.63);
  border-radius: 3px;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
