@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#10aaaa, #005555);
  border-radius: 4px;
}
