/* Reset font family */
.book.font-family-1 {
  font-family: STXihei, "Hiragino Sans", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", Helvetica, Tahoma, Arial, sans-serif !important;
}

/* Make page title aligned in the center */
h1 {
  text-align: center;
}

/* Make anchors bigger and looks better */
.book .book-body .page-wrapper .page-inner section {
  padding-left: 25px;
  padding-right: 25px;
}

a.plugin-anchor {
  padding-left: 38px;
}

a.plugin-anchor span {
  margin-left: -30px;
  font-size: 0.7em;
}

.book .book-body .page-wrapper .page-inner section.normal figure img{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.page-toc {
  position: fixed;
  right: 3rem;
  max-height: 80vh;
  overflow-y: auto;
}
